name: Java Docker CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build JAR
        run: |
          javac Main.java
          jar cfe app.jar Main Main.class

      - name: Docker login
        run: |
          echo "${{ secrets.DOCKER_USERNAME }}" | docker login \
          -u "${{ secrets.DOCKER_PASSWORD }}" --password-stdin

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_PASSWORD }}/java-docker-demo:latest .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_PASSWORD }}/java-docker-demo:latest
